process {
    withName: SCQC {
        container = "${projectDir}/containers/2022-schneeberger-liver-scanpy_2022-10-24.sif"
        // conda = "/data/scratch/sturm/conda/envs/2022-schneeberger-liver-scanpy"
        publishDir = [
            path: { "${params.outdir}/02_qc_and_filtering/" },
            mode: params.publish_dir_mode
        ]
    }
    withName: "JUPYTER.*" {
        ext.kernel = "python3"
        container = "${projectDir}/containers/2022-schneeberger-liver-scanpy_2022-10-24.sif"
        // conda = "/data/scratch/sturm/conda/envs/2022-schneeberger-liver-scanpy"
        publishDir = [
            path: { "${params.outdir}/${meta.id}/" },
            mode: params.publish_dir_mode
        ]
        cpus = 2
    }
    withName: JUPYTER_SCVI {
        container = "${projectDir}/containers/2022-schneeberger-liver-scanpy_2022-10-24.sif"
        conda = null
        cpus = 8
    }
    withName: "DESEQ.*" {
        publishDir = [
            path: { "${params.outdir}/21_deseq/${task.process}/${id}/" },
            mode: params.publish_dir_mode
        ]
    }
}
