process {
    withName: SCQC {
        conda = "/data/scratch/sturm/conda/envs/2022-schneeberger-liver-scanpy"
        publishDir = [
            path: { "${params.outdir}/02_qc_and_filtering/" },
            mode: params.publish_dir_mode
        ]
    }
    withName: "JUPYTER.*" {
        ext.kernel = "python3"
        conda = "/data/scratch/sturm/conda/envs/2022-schneeberger-liver-scanpy"
        publishDir = [
            path: { "${params.outdir}/${meta.id}/" },
            mode: params.publish_dir_mode
        ]
    }
    withName: JUPYTER_SCVI {
        cpus = 8
    }
}
